.site-header {
    background-color: var(--primary-color);
    color: white;
    padding: 20px;
}

.main-nav {
    border-top: 1px solid #fff;
}

.header-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.club-logo {
    width: 100px;
    height: auto;
}

.club-title {
    display: flex;
    align-items: center;
    gap: 15px;
}

.club-title h1 {
    margin: 0;           
    font-size: 2.6rem;
    font-weight: 800;
     line-height: 1; 
}

.club-title p {
              
    font-size: 1.3rem;
    font-style: italic;
    opacity: 0.85;
    white-space: nowrap;
     line-height: 1; 
    margin-top: 19px; 
}


.main-nav {
    background-color: #000;
    position: relative;
}


.menu {
    display: flex;
    gap: 30px;
    padding: 15px 20px;
}


.menu li {
    position: relative;
}

.menu a {
    color: white;
    font-weight: bold;
}

.main-content {
    padding: 40px 20px;
}

.site-footer {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 15px;
}