.site-header {
    background-color: var(--primary-color);
    color: white;
    padding: 20px;
}

.main-nav {
    border-top: 1px solid #fff;
}

.header-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.club-logo {
    width: 100px;
    height: auto;
}

.club-title {
    display: flex;
    align-items: center;
    gap: 15px;
}

.club-title h1 {
    margin: 0;           
    font-size: 2.6rem;
    font-weight: 800;
     line-height: 1; 
}

.club-title p {
              
    font-size: 1.3rem;
    font-style: italic;
    opacity: 0.85;
    white-space: nowrap;
     line-height: 1; 
    margin-top: 19px; 
}


.main-nav {
    background-color: #000;
    position: relative;
}


.menu {
    display: flex;
    gap: 30px;
    padding: 15px 20px;
}


.menu li {
    position: relative;
}

.menu a {
    color: white;
    font-weight: bold;
}

.main-content {
    padding: 40px 20px;
}

.site-footer {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 15px;
}

/* ===== SECTION ACCUEIL CARROUSEL ===== */

.carousel-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    padding: 60px 20px;
    align-items: center;
}

.carousel-text {
    color: #fff;
}

.carousel-text h2 {
    font-size: 2.2rem;
    margin-bottom: 20px;
}

.carousel-text p {
    margin-bottom: 15px;
    line-height: 1.6;
}

.carousel-text .signature {
    margin-top: 25px;
    font-size: 1.1rem;
    font-weight: bold;
}


.home-hero {
    display: flex;
    align-items: center;
    gap: 30px; /* 🔥 réduis l’espace ici */
}

@media (max-width: 900px) {
    .home-hero {
        grid-template-columns: 1fr;
    }
}

/* Mobile */
@media (max-width: 768px) {
    .carousel-section {
        grid-template-columns: 1fr;
    }

    .carousel {
        height: 300px;
    }
}
