:root {
    --primary-color: #111;
    --secondary-color: #f5f5f5;
    --accent-color: #c49b63;
    --text-color: #222;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main-content {
    flex: 1; /* 🔥 prend l’espace restant */
    background-image: url("../images/fond/fond.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;

    padding: 30px 40px; /* réduit */
    overflow: hidden; /* empêche le scroll interne */
}


.main-content::before {
    content: "";
    position: absolute;
    inset: 0;
    /*background: rgba(255, 255, 255, 0.25); /* blanc légèrement transparent */
    z-index: 0;
}

.main-content > * {
    position: relative;
    z-index: 1;
}