@media (max-width: 768px) {

    .burger {
   display: block;
        position: relative;      /* ✅ au lieu de absolute */
        margin: 15px 0 10px 15px; /* espace propre */
        z-index: 1100;

        background: none;
        border: none;
        font-size: 2rem;
        color: white;
        cursor: pointer;
    }
    .menu {
        flex-direction: column;
         display: none;
    }
    .menu.open {
        display: flex;
    }
    .submenu {
        display: none;
        position: static;
        padding-left: 15px;
    }

    .submenu.open {
        display: block;
    }

    .home-hero {
        flex-direction: column;
        align-items: stretch;
        gap: 25px;
    }

    .carousel-container {
        width: 100%;
    }

    .hero-text {
        max-width: 100%;
        width: 100%;
        margin: 0 auto;
        font-size: 0.95rem;
    }
     .header-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 12px;
    }

    .club-title {
        flex-direction: column;
        align-items: center;
    }

    .club-title h1 {
        font-size: 1.9rem;
    }

    .club-title p {
        white-space: normal;   /* 🔥 autorise le retour à la ligne */
        margin-top: 5px;
        font-size: 1rem;
    }

    .club-logo {
        width: 80px;
    }

     .two-columns {
        flex-direction: column;
        gap: 2rem;
    }

    .association-image img {
        max-height: 300px;
        object-fit: cover;
    }

    .association-text p {
        max-width: 100%;
    }

    /*carte*/
    .map-wrapper {
        height: 260px;
    }

    .formules-grid {
        grid-template-columns: 1fr;
        gap: 30px;
    }

    .page-intro h2 {
        font-size: 2.1rem;
    }

    .formule-card {
        padding: 30px 22px;
    }

    .formule-price {
        font-size: 2.2rem;
    }

    .gorillaz-training {
        padding: 45px 20px;
    }

    .gorillaz-training h2 {
        font-size: 2rem;
        margin-bottom: 35px;
    }

    .training-pillars {
        grid-template-columns: 1fr;
        gap: 25px;
    }

    .training-manifesto {
        font-size: 1.6rem;
    }
    
}

