@media (max-width: 768px) {

    .burger {
        display: block;
        position: absolute;
        top: 25px;
        left: 20px;
        z-index: 1100;
        background: none;
        border: none;
        font-size: 2rem;
        color: white;
        cursor: pointer;
    }
    .menu {
        flex-direction: column;
    }

    .submenu {
        display: none;
        position: static;
        padding-left: 15px;
    }

    .submenu.open {
        display: block;
    }
}
