@media (max-width: 768px) {

    .burger {
        display: block;
        position: absolute;
        top: 25px;
        left: 20px;
        z-index: 1100;
        background: none;
        border: none;
        font-size: 2rem;
        color: white;
        cursor: pointer;
    }
    .menu {
        flex-direction: column;
         display: none;
    }
    .menu.open {
        display: flex;
    }
    .submenu {
        display: none;
        position: static;
        padding-left: 15px;
    }

    .submenu.open {
        display: block;
    }
    
    .home-hero {
        flex-direction: column;
        align-items: stretch;
        gap: 25px;
    }

    .carousel-container {
        width: 100%;
    }

    .hero-text {
        max-width: 100%;
        width: 100%;
        margin: 0 auto;
        font-size: 0.95rem;
    }
}
